

#initContainer{
    width:90%;
    margin-top: 30px;
    background-color: oldlace;
    position:relative;
    z-index:10;
    padding: 10px;
}
#copyButton{
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    height: 60px;
}
#userHashTag{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
#copyTarget{
    font-size: small;
}
#copyButton, #copyTarget, #userHashTag{
    margin-bottom: 5px;

}

#googleMap{
    width:100%;
    height:100%;
      position: absolute;
  top: 0;
  left: 0;
    z-index:1;
}

