
body	{
	margin:	0px;
}

.container	{
	width:	100%;
}

#settings	{
	position:	absolute;
	top:	8px;
	right:	88px;
	z-index:	20;
	padding:	5px 16px;
	background-color:	white;
}
#settings:hover	{
	background-color:	#d4d4d4;
	cursor:	pointer;
}

#internetConnection	{
	position:	absolute;
	top:	8px;
	right:	48px;
	z-index:	20;
	width:	32px;
	padding:	8px;
	text-align:	center;
	background-color:	lightgreen;
}

#exitSettings	{
	float:	right;
	position:	relative;
	right:	0px;
	padding:	16px;
	color:	tomato;
}
#exitSettings:hover	{
	color:	white;
	background-color:	tomato;
	cursor:	pointer;
}
#dbg_heading	{
	display:	none;
}
#settingsContainer	{
	z-index:	30;
	width:	90%;
	background-color:	oldlace;
	position:	relative;
	margin:	5px auto 0px auto;
	display:	none;
}
#settingsContainer h3	{
	text-align:	center;
	padding-top:	16px;
}
#updateRate	{
	text-align:	center;
}
#settingsContainer .footer	{
	padding-bottom:	16px;
}

#initContainer{
    width:90%;
	margin: 30px auto 0px auto;
    background-color: oldlace;
    position:relative;
    z-index:10;
    padding: 10px;
}
#infoContainer{
    width:90%;
    margin-top: 5px;
    background-color: oldlace;
    position:relative;
    z-index:11;
    padding: 10px;
}
#copyButton{
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    height: 60px;
}
#userHashTag{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
#copyTarget{
    font-size: small;
}
#copyButton, #copyTarget, #userHashTag{
    margin-bottom: 5px;

}

#googleMap{
    width:100%;
    height:100%;
      position: absolute;
  top: 0;
  left: 0;
    z-index:1;
}

#skipAdSpot	{
	float:	left;
	width:	25%;
	/* Delete Me Later? */
	text-align:	center;
}

#skipAd	{
	width:	100%;
}

#smallAdSpot	{
	float:	left;
	width:	75%;
	height:	32px;
	/* Delete Me Later? */
	text-align:	center;
}

#largeAdSpot	{
	width:	100%;
	/* Delete Me Later? */
	text-align:	center;
}

